<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title> درباره {{ about.0.Name }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark_mode.css' %}">
    <!-- FontAwesome JS-->
    <script defer src="{% static 'assets/js/d3.js'  %}" ></script>

    <!-- Theme CSS -->
    <!-- <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-1.css' %}"> -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-7.css' %}" onclick="myFunction()" >

</head>

<body style="font-family:'Vazir';">
    <header class="header text-center " >
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="#">... {{ about.0.Name }}</a></h1>

      <nav class="navbar navbar-expand-lg navbar-dark" >

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

		    <div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'assets/images/profile.png' %}" alt="image" >

					<div class="bio mb-3">{{ about.0.content|safe }}<br></div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-telegram fa-fw"></i></a></li>
			        </ul><!--//social-list-->
				</div><!--//profile-section-->

				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item">
					    <a class="nav-link" href="/"><i class="fas fa-home fa-fw mr-2"></i>خانه <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/#blog"><i class="fas fa-bookmark fa-fw mr-2"></i>بلاگ</a>
					</li>
          <li class="nav-item" >
					    <a class="nav-link" href="/Donate"><i class="fa-fw mr-2"></i>حمایت از ما </a>            
          </li>
				</ul>

				<div class="my-2 my-md-3">
				</div>
			</div>
		</nav>
    </header>

    <div class="main-wrapper ">

	    <article class="about-section py-5  rtl  "  >
		    <div class="container">
			    <h2 class="title mb-3 "> درباره {{ about.0.Name }}</h2>
			    <p> {{ about.0.Text_2|safe }} </p>
			    <!-- <figure><img class="img-fluid" src="assets/images/about-me.jpg" alt="image"></figure> -->
			    <h5 class="mt-5"> درباره بلاگ </h5>
			    <p>{{ about.0.A_blog|safe}}</p>
			    <h5 class="mt-5">مهارت ها </h5>
			    <p>{{ about.0.Skill_text|safe }}</p>
			    <h5 class="mt-5">پروژه ها</h5>
			    <p>{{ about.0.Projects|safe }}</p>
          {% if about.0.File1 %}</br><a href="{{ about.0.File1.url|safe }}">{{ about.0.N_file1 }}</a></br></br>{% endif %}
          {% if about.0.File2 %}<a href="{{ about.0.File2.url|safe }}">{{ about.0.N_file2 }}</a></br></br>{% endif %}
          {% if about.0.File3 %}<a href="{{ about.0.File3.url|safe }}">{{ about.0.N_file3 }}</a></br></br>{% endif %}
          {% if about.0.File4 %}<a href="{{ about.0.File4.url|safe }}"> {{ about.0.N_file4 }}</a>{% endif %}
			    <!-- <figure><a href="#"><img class="img-fluid" src="{% static 'assets/images/promo-banner.jpg' %}" alt="image"></a></figure> -->
          <br><br><br><br>
		    </div>
	    </article><!--//about-section-->
	    <footer class="footer text-center py-2 theme-bg-dark">
        <h6  style="color:white"> <a href="mailto: {{ about.0.E_mail }}">{{ about.0.E_mail }} : ایمیل</a></h6>
        
		{% if  about.0.Phone %}
          <h8 href="#" style="color:white">تلفن : {{ about.0.Phone }}</h8>
        {% endif %}
	    </footer>
    </div><!--//main-wrapper-->

    <!-- Javascript -->
    <script src="{% static 'assets/plugins/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="{% static 'assets/js/demo/style-switcher.js' %}"></script>
    <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-M");
    }
    </script>
</body>
</html>
