{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>{{ post.Title }}</title>
<!--

Template 2102 Constructive

http://www.tooplate.com/view/2102-constructive

-->
	{% comment %} TEST {% endcomment %}
	 	<link rel="stylesheet" href="{% static 'course/css/FixedNav.css' %}">
	{% comment %}  {% endcomment %}
		<link rel="stylesheet" href="{% static 'course/css/D1.css' %}">  <!-- Google web font "Open Sans" -->
		<link rel="stylesheet" href="{% static 'course/css/fontawesome-all.min.css' %}">
		<link rel="stylesheet" href="{% static 'course/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'course/css/magnific-popup.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'course/slick/slick.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'course/slick/slick-theme.css' %}"/>
		<link rel="stylesheet" href="{% static 'course/css/tooplate-style.css' %}">
		<link rel="stylesheet" href="{% static 'css/RTL.css' %}">
		<!-- Nav Course Top -->
		<link rel="stylesheet" href="{% static 'course/css/Nav_Course_Top.css' %}">
	<script>

	var renderPage = true;
	if(navigator.userAgent.indexOf('MSIE')!==-1
		|| navigator.appVersion.indexOf('Trident/') > 0){
   		/* Microsoft Internet Explorer detected in. */
   		alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
   		renderPage = false;
	}
	</script>
</head>

<body style="font-family:'Vazir';color:black;"  >

	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div style="top:0%;bottom:100%;background-color:rgba(0,0,0,0.9);">
		<ul style="overflow: hidden;background-color: #333 ;margin-left:25%; list-style:none;">
		  	<li class="li_Nav  active_nav"><a class="active_nav" href="/"> خانه </a></li>
		  	<li class="li_Nav "><a href="/#blog">بلاگ</a></li>
	   	  	<li class="li_Nav "><a href="/Donate">حمایت از ما </a></li>
			<li class="li_Nav "><a href="/about">درباره ما</a></li>
	   	 	<li class="li_Nav " style="float:right;font-family:chilanka;font-size:25px;"><a href="/about">.: LEARN0RO :.</a></li>
		</ul>
	<div>
	<!-- Page Content -->
	<div class="container-fluid tm-main">
		<div class="row tm-main-row">

			<!-- Sidebar -->
			<div id="tmSideBar" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 sidebar">

				<button id="tmMainNavToggle" class="menu-icon">&#9776;</button>

				<div class="inner navbar" style="font-size:20px;position:fixed;top:5%;bottom:100%" >
					<nav id="tmMainNav" class="tm-main-nav" style="margin-top:5%;">
						<ul style="font-size:20px;">
							<li>
								<a href="#intro" id="tmNavLink1" class="scrolly active"  data-page="#tm-section-1" >
									<i class="fas fa-home tm-nav-fa-icon"  ></i>
									<span>توضیحات</span>
								</a>
							</li>
							<li>
								<a href="#products" class="scrolly" id="course" data-page="#tm-section-3" style="">
									<i class="fas fa-users tm-nav-fa-icon"></i>
									<span> دوره</span>
								</a>
							</li>
							<li>
								<a href="#company" id="tmNavLink2" class="scrolly"  data-page="#tm-section-2" data-page-type="carousel">
									<i class="fas fa-map tm-nav-fa-icon"></i>
									<span> نظرات کاربران</span>

								</a>
							</li>
							<li>
								<a href="#contact" class="scrolly"  data-page="#tm-section-4">
									<i class="fas fa-comments tm-nav-fa-icon"></i>
									<span>نظر تان را بنویسید </span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- Navigation for Donate Exit and About Me -->

			{% if  post.Image_bg  %}
				<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 " style="background-image: url('{{ post.Image_bg.url }}');background-repeat: no-repeat;background-attachment: fixed;width:975px;">
			{% endif %}
					<!-- section 1 -->
					<section id="tm-section-1" class="tm-section">
						<div class="ml-auto rtl">
							<br><br>
							<header class="mb-4"><h1 class="tm-text-shadow rtl">توضیحات ...</h1></header>
							<p class="mb-5 tm-font-big rtl font-small">{{ post.Complit_text|safe }}</p>
							<a href="#" style="color:black;" class="btn tm-btn tm-font-big" data-nav-link="#course">ورود به دوره </a>
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>
					</section>


					<!-- section Cource -->
					<section id="tm-section-3" class="tm-section rtl" >
						<br><br>
						<div class="row mb-4 rtl">
							<br><br>
							<header class="col-xl-12"><h2 class="tm-text-shadow rtl">  {{ post.Title }} : </h2></header>
						</div>
						<div style="color:#FFFFFF;" class="rtl">{{ post.Course|safe  }}</div>
					</section>



					<!-- section 2 -->
					<section id="tm-section-2" class="tm-section tm-section-carousel" >
						<div class="rtl" >
							<br><br>
							<header class="mb-4"><h2 class="tm-text-shadow rtl">نظرات کاربران</h2></header>
							<div class="tm-img-container rtl ">
								<div class="rtl">
										{% for comment in post.comments.all reversed %}
										</br>
											<div class="comment rtl">
												<h5>&nbsp;&nbsp;{{ comment.author }} :</h5>
												<h8>{{ comment.text|safe|linebreaks }}</h8>
											</div>
											-----------------------------------------------
											{% empty %}
												<h4>هنوز هیج پیغامی ثبت نشده است ، شما اولین نفر باشید ...</h4>
										{% endfor %}
										</br>
								</div>
							</div>
						</div>
					</section>

					<!-- section 4 -->


					<section id="tm-section-4" class="tm-section">
						<div class="tm-bg-transparent-black tm-contact-box-pad">
							<div class="row mb-4">
								<div class="col-sm-12">
									<header><h2 class="tm-text-shadow rtl">لطفا نظرات خود را در قسمت مربوطه درج کنید .</h2></header>
								</div>
							</div>
							<div class="row tm-page-4-content">

								<div class="col-md-6 col-sm-12 tm-contact-col ">
									<div class="contact_message">
										<form action="" method="post" class="contact-form">
											<div class="form-group">
											  <div class="rtl" >
												{% csrf_token %}
												{{ form.as_p }}
											  </div>
											</div>
											<button type="submit" class="btn tm-btn-submit tm-btn ml-auto">ارسال</button>
										</form>
									</div>
								</div>

								<div class="col-md-6 col-sm-12 tm-contact-col">
									<div class="tm-address-box">
										<p class="rtl">  ما از انتقادات و پیشنهادات شما بسیار خوشحال میشویم
									و هر چه شما نظرات بهتری بدهید حتما دوره های بعدی دوره بیشتر به دل شما عزیزان مینشیند.</p>
										<address>
											<!-- پیوند های جدید  5 بلاگ آخر -->
										</address>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>	<!-- .tm-content -->

			</div>	<!-- row -->
		</div>
		<div id="preload-01"></div>
		<div id="preload-02"></div>
		<div id="preload-03"></div>
		<div id="preload-04"></div>


	<div style="top:0%;bottom:100%;background-color:rgba(0,0,0,0.9);">
		<ul style="overflow: hidden;background-color: #333 ;margin-left:25%; list-style:none;">
		  	<li class="li_Nav  active_nav"><a class="active_nav" href="/"> خانه </a></li>
		  	<li class="li_Nav "><a href="/#blog">بلاگ</a></li>
	   	  	<li class="li_Nav "><a href="/Donate">حمایت از ما </a></li>
			<li class="li_Nav "><a href="/about">درباره ما</a></li>
	   	 	<li class="li_Nav " style="float:right;font-family:chilanka;font-size:25px;"><a href="/about">.: LEARN0RO :.</a></li>
		</ul>
	<div>
		<script type="text/javascript" src="{% static 'course/js/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'course/js/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'course/js/jquery.backstretch.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'course/slick/slick.min.js' %}"></script> <!-- Slick Carousel -->

		<script>

		var sidebarVisible = false;
		var currentPageID = "#tm-section-1";

		// Setup Carousel
		function setupCarousel() {

			// If current page isn't Carousel page, don't do anything.
			if($('#tm-section-2').css('display') == "none") {
			}
			else {	// If current page is Carousel page, set up the Carousel.

				var slider = $('.tm-img-slider');
				var windowWidth = $(window).width();

				if (slider.hasClass('slick-initialized')) {
					slider.slick('destroy');
				}

				if(windowWidth < 640) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 1,
	              		slidesToScroll: 1
	              	});
				}
				else if(windowWidth < 992) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 2,
	              		slidesToScroll: 1
	              	});
				}
				else {
					// Slick carousel
	              	slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 3,
	              		slidesToScroll: 2
	              	});
				}

				// Init Magnific Popup
				$('.tm-img-slider').magnificPopup({
				  delegate: 'a', // child items selector, by clicking on it popup will open
				  type: 'image',
				  gallery: {enabled:true}
				  // other options
				});
      		}
  		}

  		// Setup Nav
  		function setupNav() {
  			// Add Event Listener to each Nav item
	     	$(".tm-main-nav a").click(function(e){
	     		e.preventDefault();

		    	var currentNavItem = $(this);
		    	changePage(currentNavItem);

		    	setupCarousel();
		    	setupFooter();

		    	// Hide the nav on mobile
		    	$("#tmSideBar").removeClass("show");
		    });
  		}

  		function changePage(currentNavItem) {
  			// Update Nav items
  			$(".tm-main-nav a").removeClass("active");
     		currentNavItem.addClass("active");

	    	$(currentPageID).hide();

	    	// Show current page
	    	currentPageID = currentNavItem.data("page");
	    	$(currentPageID).fadeIn(1000);

	    	// Change background image
	    	var bgImg = currentNavItem.data("bgImg");
	    	$.backstretch("img/" + bgImg);
  		}

  		// Setup Nav Toggle Button
  		function setupNavToggle() {

			$("#tmMainNavToggle").on("click", function(){
				$(".sidebar").toggleClass("show");
			});
  		}

  		// If there is enough room, stick the footer at the bottom of page content.
  		// If not, place it after the page content
  		function setupFooter() {

  			var padding = 100;
  			var footerPadding = 40;
  			var mainContent = $("section"+currentPageID);
  			var mainContentHeight = mainContent.outerHeight(true);
  			var footer = $(".footer-link");
  			var footerHeight = footer.outerHeight(true);
  			var totalPageHeight = mainContentHeight + footerHeight + footerPadding + padding;
  			var windowHeight = $(window).height();

  			if(totalPageHeight > windowHeight){
  				$(".tm-content").css("margin-bottom", footerHeight + footerPadding + "px");
  				footer.css("bottom", footerHeight + "px");
  			}
  			else {
  				$(".tm-content").css("margin-bottom", "0");
  				footer.css("bottom", "20px");
  			}
  		}

  		// Everything is loaded including images.
      	$(window).on("load", function(){

      		// Render the page on modern browser only.
      		if(renderPage) {
				// Remove loader
		      	$('body').addClass('loaded');

		      	// Page transition
		      	var allPages = $(".tm-section");

		      	// Handle click of "Continue", which changes to next page
		      	// The link contains data-nav-link attribute, which holds the nav item ID
		      	// Nav item ID is then used to access and trigger click on the corresponding nav item
		      	var linkToAnotherPage = $("a.tm-btn[data-nav-link]");

			    if(linkToAnotherPage != null) {

			    	linkToAnotherPage.on("click", function(){
			    		var navItemToHighlight = linkToAnotherPage.data("navLink");
			    		$("a" + navItemToHighlight).click();
			    	});
			    }

		      	// Hide all pages
		      	allPages.hide();

		      	$("#tm-section-1").fadeIn();

		     	// Set up background first page
		     	var bgImg = $("#tmNavLink1").data("bgImg");

		     	$.backstretch("img/" + bgImg, {fade: 500});

		     	// Setup Carousel, Nav, and Nav Toggle
			    setupCarousel();
			    setupNav();
			    setupNavToggle();
			    setupFooter();

			    // Resize Carousel upon window resize
			    $(window).resize(function() {
			    	setupCarousel();
			    	setupFooter();
			    });
      		}
		});

		</script>
	</body>
</html>
