<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}">
    <title> حمایت از ما</title>
<style>
ul {
  list-style-type: none;
  margin: 0%;
  padding: 0;
  overflow: ;
  width:100%;
  position:fixed;
}

.li {
  float: left;
}


* {
  box-sizing: border-box;
}


.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>

<body style="font-family:'Vazir'; ">


<!-- Nav -->
<ul class="ul" style=" background-color:#333;top:4px;right:2px;left:2px" >
  <li class="li" style="float:right"><a href="/">خانه</a></li>
  <li class="li" style="float:right"><a href="/#blog">بلاگ</a></li>
  <li class="li" style="float:right"><a href="/Search">جستجو</a></li>
  <li class="li" ><a class="active" href="/about">.: LEARN0RO :.</a></li>
</ul>

<!--Search -->
<div class="rtl" >
<form class="example"  style="margin-left:1000px;max-width:300px">
  <input type="text" placeholder="جستجو ..." name="search">
   <button type="submit"><i class="fa fa-search "></i></button>
</form> 
<div>


<div class="rtl">
  
    <b><p style="font-size:28px" > </br>{{ text.0.Titel }}</p></b>
    {{ text.0.Text|safe }}
</div>

</body>
</html>