{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Learn0ro</title>
<!--

Sentra Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}
          <link id="theme" rel="stylesheet" href="light-theme.css" />
          <link rel="apple-touch-icon" href="apple-touch-icon.png">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
          <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
          <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
          <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
        {% endblock css %}
        <link href="{% static 'css/d2.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/rtl.css' %}">
        <link rel="stylesheet" href="{% static 'css/dark_mode.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <!-- <link rel="stylesheet" href="{% static 'css/light-theme.css' %}"> -->
        <style>
            #myBtn {
              display: none;
              position: fixed;
              bottom: 20px;
              right: 10px;
              z-index: 99;
              font-size: 15px;
              border: none;
              outline: none;
              background-color: red;
              color: white;
              cursor: pointer;
              padding: 18px;
              border-radius: 4px;
            }

            #myBtn:hover {
              background-color: #555;
            }
        </style>
    </head>



<body  style="font-family:'Vazir'; ">

		  <button onclick="topFunction()" id="myBtn" title="Go to top">بالا </button>




        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                    	<button onclick="topFunction()" id="myBtn" title="Go to top">بالا </button>
                        <li><a href="#top">{{ navs.0.One }}</a></li>
                        <li><a href="#featured">{{ navs.0.Two }}</a></li>
                        <li><a href="#video">{{ navs.0.Tree }}</a></li>
                        <li><a href="#blog">{{ navs.0.For }}</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#video" style="font-family:chilanka;font-size:25px;">.: Learn<em>0ro :.</em></a>
            </div>
            <nav>

            <form action="/Search" methid="GET">
                <input  class="rtl" type="text" placeholder="جستجو ..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
             </form>

                <ul>
                    <li>
                        <a href="#top" style="font-size: 20px" >
                            <span class="rect"></span>
                            <span class="circle"></span>
                            {{ navs.0.One }}
                        </a>
                    </li>
                    <!-- <li>
                      ورود
                      <a href="admin" style="font-size: 20px" >
                            <span class="rect"></span>
                            <span class="circle"></span>
                            ورود
                        </a>
                            <span class="rect"></span>
                            <span class="circle"></span>
                    </li> -->
                    <li>
                        <a href="#featured" style="font-size: 20px">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            {{ navs.0.Two }}
                        </a>
                    </li>
                    <li>
                        <a href="#video" style="font-size: 20px">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            {{ navs.0.Tree }}
                        </a>
                    </li>
                    <li>
                        <a href="#blog" style="font-size: 20px">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            {{ navs.0.For }}
                        </a>
                    </li>
                  </ul>
                  
            </nav>
            <ul class="social-icons">
                <li><a href="https://www.instagram.com/mahdi.rahmani.p"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://web.telegram.org"><i class="fa fa-telegram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/mahdi-rahmani-7b10891ab/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/MahdiRahmani80"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div class="rtl" >
                          <h1>{{ titles.0.BigTitle }}</h1>
                          <p>{{ titles.0.Title }}</p>
                          <div class="white-button button">
                              <a href="/{{ titles.0.Link }}">بیشتر بخوانید</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2 rtl " >
                    <div class="img-fill"  >
                        <div class="image" ></div>
                        <div class="info">
                        <div>
                          <h1>{{ titles.1.BigTitle }}</h1>
                          <p>{{ titles.1.Title }}</p>

                          <div class="white-button button">
                              <a href="/{{ titles.1.Link }}">بیشتر بخوانید</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3 rtl " >
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>{{ titles.2.BigTitle }}</h1>
                          <p>{{ titles.2.Title }}</p>

                          <div class="white-button button">
                              <a href="/{{ titles.2.Link }}">بیشتر بخوانید</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>

        <div class="page-content">
            <section id="featured" class="content-section" >
                <div class="section-heading" >
                    <h1>{{ part_tow.0.Header }}<br><em>{{ part_tow.0.Color_Header }}</em></h1>
                    <p>{{ part_tow.0.Titr }}
                    <br>{{ part_tow.0.Continue_Titr }}</p>
                </div>
<!--   persenal image :   {create the For for make DataBase !! }  -->

                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                      {% for i in obj_part_tow reversed %}
                        <div class="item">
                          <div class="text-content rtl">
                              <h4>{{ i.Title }}</h4>
                              {% if i.Lower_Title != None %}<span>{{ i.Lower_Title }}</span>{% endif %}
                                <div class="image">
                                  <a href="/00000000{{ i.id }}"> <img src="{{ i.Image.url }}" width="285px" height="165px" alt=""></a>
                                    <hr>

                                <div class="featured-button button">
                                    <a href="/00000000{{ i.id }}">بیشتر بخوانید</a>
                                </div>
                            </div>
                                <p>{{ i.Text|safe }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
              </section>

            <section id="video" class="content-section">
                <div class="row" >
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>{{ About.0.Title }}<em> {{ About.0.Company_name }} </em>{{ About.0.Continue_Title }}</h1>
                            <p>{{ About.0.Text|safe }}</p>
                        </div>
                        <div class="text-content">
                            <!-- <p>{{ About.0.Texe|safe }}</p> -->
                        </div>
                        <div class="accent-button button">
                            <a href="/about">  بیشتر بخوانید </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-video">
                            <!-- uploaded movi  -->
                        </div>
                    </div>
                </div>
            </section>


            <section id="blog" class="content-section">
                <div class="section-heading">
                    <h1>بلاگ<br><em>{{ blog.0.Color_Titel }}</em></h1>
                    <p>{{ blog.0.Titr }}
                    <br>{{ blog.0.Continue_Titr }}</p>
                </div>

                <div class="section-content">
                    <div class="tabs-content">
                        <div class="wrapper">
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">  <!-- make for for titleدسته بندی  -->
                              <li><a href="#tab1" class="active">{{ items.3 }}</a></li>
                              <li><a href="#tab2">{{ items.2 }}</a></li>
                              <li><a href="#tab3">{{ items.1 }}</a></li>
                              <li><a href="#tab4">{{ items.0 }}</a></li>
                            </ul>
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <!-- <li>
                                            <div class="item">        it div write last post
                                                <img src="img/blog_1.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>{{  posts.last.Header  }}</h4>
                                                    <span>{{  posts.last.Date_Moon }}</span>
                                                    <p>{{ posts.last.Text }}</p>

                                                    <div class="accent-button button">
                                                        <a href="#contact">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li> -->
                                        {% for k in blog_part1 reversed %}

                                            <li>
                                                <div class="item ">
                                                  {% if k.Image %}
                                                    <a href="/{{ k.id }}" > <img src="{{ k.Image.url }}" width="306px" height="230px" alt=""></a>
                                                  {% endif %}
                                                    <div class="text-content rtl">
                                                        <a href="/{{ k.id }}" style="color:black"><h4 >{{ k.Title }}</h4></a>
                                                        <div class="rtl"><span> {{ k.Date_Moon.day }} / {{  k.Date_Moon.month }} /  {{  k.Date_Moon.year }} </span></div>
                                                        <p>{{ k.content }}</p>

                                                        <div class="accent-button button ltr">
                                                            <a href="/{{ k.id }}">بیشتر بخوانید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                      {% endfor %}
                                  </ul>
                                </div>


                                <div id="tab2">
                                  <ul>
                                    {% for k in blog_part2 reversed %}
                                      <li>
                                          <div class="item">
                                              {% if k.Image %}
                                                <a href="/00{{ k.id }}"><img src="{{ k.Image.url }}" width="306px" height="230px" alt=""></a>
                                              {% endif %}
                                              <div class="text-content">
                                                  <a href="/{{ k.id }}" style="color:black" class="rtl"><h4 >{{ k.Title }}</h4></a>
                                                  <div class="rtl"><span> {{ k.Date_Moon.day }} / {{  k.Date_Moon.month }} /  {{  k.Date_Moon.year }} </span></div>
                                                  <p class="rtl">{{ k.content }}</p>

                                                  <div class="accent-button button">
                                                      <a href="/00{{ k.id }}">بیشتر بخوانید</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>
                                {% endfor %}
                                    </ul>

                                </div>
                                <div id="tab3">
                                    <ul>
                                      {% for k in blog_part3 reversed %}
                                          <li>
                                            <div class="item">
                                                  {% if k.Image %}
                                                    <a href="/0000{{ k.id }}"><img src="{{ k.Image.url }}" width="306px" height="230px" alt=""></a>
                                                  {% endif %}
                                                  <div class="text-content">
                                                        <a href="/{{ k.id }}" style="color:black" class="rtl"><h4 >{{ k.Title }}</h4></a>
                                                    <div class="rtl"><span> {{ k.Date_Moon.day }} / {{  k.Date_Moon.month }} /  {{  k.Date_Moon.year }} </span></div>
                                                      <p class="rtl">{{ k.content }}</p>

                                                      <div class="accent-button button">
                                                          <a href="/0000{{ k.id }}">بیشتر بخوانید</a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                
                                <div id="tab4">
                                    <ul>
                                      {% for k in blog_part4 reversed %}

                                          <li>
                                              <div class="item">
                                                  {% if k.Image %}
                                                    <a href="/000000{{ k.id }}"><img src="{{ k.Image.url }}" width="306px" height="230px" alt=""></a>
                                                  {% endif  %}
                                                  <div class="text-content">
                                                        <a href="/{{ k.id }}" style="color:black" class="rtl"><h4 >{{ k.Title }}</h4></a>
                                                      <div class="rtl"><span> {{ k.Date_Moon.day }} / {{  k.Date_Moon.month }} /  {{  k.Date_Moon.year }} </span></div>
                                                      <p class="rtl">{{ k.Text|safe }}</p>

                                                      <div class="accent-button button">
                                                          <a href="/000000{{ k.id }}">بیشتر بخوانید</a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>

                                    {% endfor %}
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
    <script src="{% static 'js/d1.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
    </script>
    <script>
        // Hide Header on on scroll down

        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }

            lastScrollTop = st;
        }
    </script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/javaScript.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script>
		//Get the button
		var mybutton = document.getElementById("myBtn");

		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function() {scrollFunction()};

		function scrollFunction() {
		  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		    mybutton.style.display = "block";
		  } else {
		    mybutton.style.display = "none";
		  }
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
		  document.body.scrollTop = 0;
		  document.documentElement.scrollTop = 0;
		}
	</script>

</body>
</html>
