{% load static %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/RTL.css' %}">
	<title>جستجو </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li {
  float: left;
}


* {
  box-sizing: border-box;
}


.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}




form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>



<body  style="font-family:'Vazir'; ">


<!-- Nav -->

<ul class="ul ">
  <li class="li" style="float:right"><a href="/">خانه</a></li>
  <li class="li" style="float:right"><a href="/#blog">بلاگ</a></li>
  <li class="li" style="float:right"><a href="/Donate">حمایت از ما</a></li>
  <li class="li" ><a class="active" href="/about">.: LEARN0RO :.</a></li>
</ul>


<br>

<!--Search -->
<div class="rtl" >
<form class="example"  style="margin-left:1000px;max-width:300px">
  <input type="text" placeholder="جستجو ..." name="search">
   <button type="submit"><i class="fa fa-search "></i></button>
</form>
<div>

{% block search_result %}
{% if search_result_2 or search_result_3 or search_result_4 or search_result_5 or search_result_6 or search_result_7 or  search_result_8 %}
<!-- Course -->
    {% if search_result_2 %}
        <b><p class="rtl" style="font-size:20px">در قسمت دوره ها موارد زیر پیدا شده اند :</p></b>
        {% for r in search_result_2 %}
            <ul class="rtl" >
                <li>
                    <p class="rtl" >&nbsp; &nbsp;&nbsp; &nbsp;{{ r }}&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <a href="/00000000{{ r.id }}"> مشاهده </a> </p>
                </li>  
            </ul>
        {% endfor %}<br>
    {% endif %}    

<!-- Search -->




<!-- Blogs  -->
    {% if search_result_3 or search_result_4 or search_result_5 or search_result_6   %}
        <b><p class="rtl" style="font-size:20px">  در قسمت بلاگ ها موارد زیر یافت شده اند :</p></b>
    {% endif  %} 
        {% if search_result_3  %}    
            {% for r in search_result_3 %}
                <ul class="rtl" >
                <li>
                    <p class="rtl" >&nbsp; &nbsp;&nbsp; &nbsp;{{ r }}&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <a href="/{{ r.id }}" > مشاهده </a> </p>
                </li>  
                </ul>
            {% endfor %}<br>
        {% endif %}
        {% if search_result_4 %}    
            {% for r in search_result_4 %}
                <ul class="rtl" >
                <li>
                    <p class="rtl" >&nbsp; &nbsp;&nbsp; &nbsp;{{ r }}&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <a href="/00{{ r.id }}" > مشاهده </a> </p>
                </li>  
                </ul>
            {% endfor %}<br>
        {% endif %}    
        {% if search_result_5 %}
            {% for r in search_result_5 %}
                <ul class="rtl" >
                <li>
                    <p class="rtl" >&nbsp; &nbsp;&nbsp; &nbsp;{{ r }}&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <a href="/0000{{ r.id }}"  > مشاهده </a> </p>
                </li>  
                </ul>
            {% endfor %}<br>
        {% endif %} 
        {% if search_result_6 %}   
            {% for r in search_result_6 %}
                <ul class="rtl" >
                <li>
                    <p class="rtl" >&nbsp; &nbsp;&nbsp; &nbsp;{{ r }}&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <a href="/000000{{ r.id }}"  > مشاهده </a> </p>
                </li>  
                </ul>
            {% endfor %}<br>
        {% endif %}

<!-- About -->
    {% if search_result_7 %}
        <b><p class="rtl" style="font-size:20px">در قسمت  درباره ما موارد زیر پیدا شده اند :</p></b>
        {% for r in search_result_7 %}
            <ul class="rtl" >
            <li>
                <p class="rtl" >&nbsp; &nbsp;&nbsp; &nbsp;{{ r }} &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<a href="/about"> مشاهده </a> </p>
            </li>  
            </ul>
        {% endfor %}<br>
    {% endif %}    

<!-- Donate -->
    {% comment %} {% if search_result_8 %}
     <p class="rtl">در قسمت  حمایت از ما موارد زیر پیدا شده اند :</p>
    {% for r in search_result_8 %}
        <ul class="rtl" >
          <li>
            <p class="rtl" > {{ r }}</p>
          </li>  
        </ul>
    {% endfor %}<br>
    {% endif %} {% endcomment %}
    {% else %}
       <p class="rtl"> نتیجه ای پیدا نشد ...</p>
    {% endif %}
{% endblock %}

</body>

</html>