<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{{ items.3 }} | {{ post.Title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/dark_mode.css' %}">
    <!-- FontAwesome JS-->
    <script defer src="{% static 'assets/js/d3.js'  %}"></script>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css' %}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-7.css' %}">
    <link rel="stylesheet" href="{% static '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}">
    
</head>

<body style="font-family:'Vazir';" class="rtl">

    <header class="header text-center" >
	    {% if post.T %} <h1 class="blog-name pt-lg-4 mb-0"><a href="/">{{ post.T }}</a></h1>{% endif %}

	    <nav class="navbar navbar-expand-lg navbar-dark" >

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'assets/images/profile.png' %}" alt="image" >

					<div class="bio mb-3">{{ about.0.content }}<br><a href="/about">بیشتر بخوانید</a></div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto ltr" style="text-align:center">
			            <li class="list-inline-item"><a href="https://www.instagram.com/mahdi.rahmani.p"><i class="fab fa-instagram fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/mahdi-rahmani-7b10891ab/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://github.com/MahdiRahmani80"><i class="fab fa-github fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://web.telegram.org"><i class="fab fa-telegram fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr>
				</div><!--//profile-section-->

				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item">
					    <a class="nav-link ltr" href="/"><i class="fas fa-home fa-fw mr-2"></i> خانه <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link ltr" href="/about"><i class="fas fa-user fa-fw mr-2"></i>درباره من </a>
					</li>
					<li class="nav-item">
						<a class="nav-link ltr" href="/#blog"><i class="fas fa-bookmark fa-fw mr-2"></i>بلاگ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ltr" href="/Donate"><i class=" mr-2"></i>حمایت از ما </a>
					</li>
          {% comment %} <li>
            <button class="btn" onclick="myFunction()" ><span> حالت شب </span></button>
          </li> {% endcomment %}
				</ul>
			</div>
		</nav>
    </header>

    <div class="main-wrapper">

	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{ post.Title }}</h2>
				    <div class="ltr meta mb-3 ">{{ post.Date }}<span class="date"></span><br> {{ post.Date_Moon.year }} / {{ post.Date_Moon.month }} / {{ post.Date_Moon.day }}<span class="time"></span><span class="comment"><a href="#"></a></span></div>
			    </header>

			    <div class="blog-post-body">
				    <figure class="blog-banner">
              {% if post.Image %}
				        <a href="{{ post.Image.url }}"><img class="img-fluid" src="{{ post.Image.url }}" alt="image" width="790px" height="444.15px" ></a>
                <figcaption class="mt-2 text-center image-caption"><a href="{{ post.Image.url }}" target="_blank">دیدن عکس</a></figcaption>
              {% endif %}
				    </figure>
            <h3>خلاصه</h3>
				    <p>{{ post.content }} </p>

            {% if post.Code %}
  				    <h3 class="mt-5 mb-3"> {{ post.Titr }} </h3>   
  				    <p>{{ post.Code_Text|safe }}</p>
  				    <pre class="ltr">
					 <h3 class='rtl'> {{ post.T_Code }} </h3> 
  					<code> {{ post.Code|safe }} </code>
  				    </pre>
            {% endif %}

				    <h3 class="mt-5 mb-3"> {{ post.T_Text }} </h3>  
				    <p>{{ post.Text|safe }}</p>
          {% if post.Quote %}
					     <h5 class="my-3">جملات قصار</h5>      <!-- جمله قصار نکته کلیدی اخطار و از اینج -->
					     <blockquote class=" m-lg-5 py-3 pl-4 px-lg-5 ">
						   <p class="mb-2">{{ post.Quote|safe }}</p>
						   {% if post.Name_Quote %}
                  <footer class="blockquote-footer">{{ post.Name_Quote|safe }}</footer>
               {% endif %}
					     </blockquote>
          {% endif %}

            {% if post.Movi %}
				        <h3 class="mt-5 mb-3">مدیا </h3>   <!-- movi -->
				        <p>{{ post.Movi_Text|safe }} </p>
                <a href="{{ post.Movi.url|safe }}" >{{ post.filename }}</a>
                </br></br></br></br></br>
          {% endif %}

          <nav class="blog-nav nav nav-justified my-5">
            {% if next != 0  %}
  				      <a class="nav-link-next nav-item nav-link rounded-right" href="/{{ next }}">بعدی<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            {% endif %}
				    <a class="nav-link-prev nav-item nav-link rounded-left" href="/#blog">بازگشت</a>
        </nav>

	    <!-- <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Newsletter</h2>
			    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
			    <form class="signup-form form-inline justify-content-center pt-3">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
		    </div>

	    </section>   -->
				<div class="blog-comments-section">
					<div id="disqus_thread"></div>
					<noscript>
					    Please enable JavaScript to view the
					    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
					        comments powered by Disqus.
					    </a>
					</noscript>
				</div><!--//blog-comments-section-->

      </div><!--//container-->
	    </article>
	    <!-- <section class="promo-section theme-bg-light py-5 text-center">
		    <div class="container">
			    <h2 class="title"></h2>
			    <p></p>
                <figure class="promo-figure">
			        <a href="" target="_blank"><img class="img-fluid" src="" alt=""></a>
			    </figure>
		    </div>
	    </section> -->
		
		<hr>
		{% for comment in post.comments.all reversed %}
		</br>
			<div class="comment"  >
				
      		<strong>&nbsp;&nbsp;{{ comment.author }}</strong>
			<div style="margin-right:25px"><p> {{ comment.text|safe|linebreaks }}</p></div>
			 ------------------------------------------------------
			</div>
		{% empty %}
			<p>هنوز هیج پیغامی ثبت نشده است ، شما اولین نفر باشید :(</p>
		{% endfor %}
		</br>
		<br><br><br>
		<form action="" method="post" class="contact-form" >
		  
		  <hr>

		  <h4> نظرات شما ... </h4>
		  <br>
			<div class="form-group" style='margin-right:50px' >
		        <div class="rtl">
					{% csrf_token %}
					{{ form.as_p }}

					<script src='https://www.google.com/recaptcha/api.js'></script>
					<div class="g-recaptcha" data-sitekey="6LcK8sEZAAAAAN38-dV74vFQ5njM3UKz_TwBolVx"></div>
			  </div>
			</div>
			<button type="submit" class="btn tm-btn-submit tm-btn ml-auto">ارسال</button>
		</form>
		<br><br>
		</q>

	    <footer class="footer text-center py-2 theme-bg-dark ltr">
          <h6  style="color:white"> <a href="mailto: {{ about.0.E_mail }}">{{ about.0.E_mail }} : ایمیل</a></h6>
	    </footer>

    </div><!--//main-wrapper-->


    <!-- Javascript -->
    <script src="{% static 'assets/plugins/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Page Specific JS -->
    <script src="{% static '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/blog.js' %}"></script>

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="{% static 'assets/js/demo/style-switcher.js' %}"></script>
    <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
    </script>

</body>
</html>
