@media (prefers-color-scheme: dark) {
    /* all your styles for dark mode here */
    background-color : dark;
}
/* Light mode */
body {
  background: #fff;
}

/* Dark mode */
body .dark {
  background: #3d5a63;
  color: #fff;
}
