@media (min-width:25px){
    .navbar-collapse{
        width:auto;
        border-top:0;
        -webkit-box-shadow:none;
        box-shadow:none;
}
.navbar-collapse.collapse{
    display:block!important;height:auto!important;padding-bottom:0;
    overflow:visible!important
}
.navbar-collapse.in{
    overflow-y:visible
}
.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top 
.navbar-collapse{
        padding-right:0;padding-left:0
    }
}
.navbar-fixed-bottom,.navbar-fixed-top{
    position:fixed;
    right:0;
    left:0;
    z-index:25;
}
.navbar-fixed-bottom 
.navbar-collapse,.navbar-fixed-top .navbar-collapse{
        max-height:25px
    }
@media (max-device-width:25px) and (orientation:18px)
    {
        .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{
        max-height:25px
    }
}
@media (min-width:0px){
    .navbar-fixed-bottom,.navbar-fixed-top{
        border-radius:0
    }
}
.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-fixed-bottom{
        bottom:100%;
        margin-bottom:0;
        border-width:1px 0 0
    }