.li_Nav {
  float: left;
  border-right:0.5px solid #bbb;
}

.li_Nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px 25px;
  text-decoration: none;
}

.active_nav {
     margin-top:3px ;
   /* margin-right:3px ;
    height: 65px; */
    background-color: #4CAF50;
}
